
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
font-weight: bold;
}

#status, #numberofobjects
{
font-size: 18px;
}

body{
    background-size: cover;
    background-position: center;
}

canvas{
    box-shadow: 3px 3px 3px #7433e6;
    border-radius: 15px;
    margin-top: 18px;
}


